venv/
.env
__pycache__/
*.pyc

parsed_json/
raw_markdown/
scripts/
tests/
investor_intelligence.db
markdown_https___fundraiseinsider_com_blog_b2b_saas_compani.md 
markdown_https___www_crunchbase_com_funding_round_voice_ai_.md 
markdown_https___www_rho_co_blog_vcs_in_b2b.md 
markdown_https___www_voiceaispace_com_investors.md
output.md
pipeline.log
scheduler.log
test_env.py
test_extract.py
test_parser.py
test_search.py
test_semantic_search.py